.select{background: #1e2340; color:#f0f2f5;}
nz-select, nz-date-picker {
  font-size: 12px;
  margin-left:0;
  margin-right:6px;
  width: 120px;
  //color:#f0f2f5;
  //border:1px solid #aaa;
  border-radius: 5px;
}
nz-date-picker {width: 180px; }
nz-select table, nz-date-picker table{
  font-size: 12px;
  //color:#f0f2f5;
}

.label {
    text-align: left;
    width: 20%;
    display: inline-block;
}



