<div style="float: left; margin-right: 80px; margin-left: 50px">
  <div>
    <strong>产线基本介绍</strong><br>
    <label>产线编号：</label><br>
    <label>生产状态：</label><br>
    <label>负责人：</label><br>
  </div>

  <div>
    <br>
    <strong>今日产能安排</strong><br>
    <label>模台数量：</label><br>
    <label>叠合板数量：</label><br>
    <label>混凝土方量：</label><br>
  </div>

  <div>
    <br>
    <strong>今日已浇筑生产</strong><br>
    <label>模台数量：</label><br>
    <label>叠合板数量：</label><br>
    <label>混凝土方量：</label><br>
    <label>待浇筑方量：</label><br>
    <label>已浇筑面积：</label><br>
  </div>

</div>

<div style="float: left; margin-right: 80px">
  <div>
    <strong>监控</strong><br>
    <a href="http://tv.cctv.com/2020/03/04/VIDEHQ67xcFPpVVxkZRtTrj8200304.shtml" target="_blank"><button nz-button>点击查看视频</button></a>
  </div>

  <div>
    <br><strong>仪器控制</strong><br>
    <br><label>模台入库门：</label>
    <button nz-button>打开</button> &nbsp;&nbsp;<button nz-button>关闭</button>
    &nbsp;&nbsp;<label>混凝土入料车：</label>
    <button nz-button>打开</button> &nbsp;&nbsp;<button nz-button>关闭</button>
    <br>
    <br><label>模台出库门：</label>
    <button nz-button>打开</button> &nbsp;&nbsp;<button nz-button>关闭</button>
    &nbsp;&nbsp; <label>混凝土驱动轮：</label>
    <button nz-button>打开</button> &nbsp;&nbsp;<button nz-button>关闭</button>
    <br>
    <br><label>混凝土入料门：</label>
    <button nz-button>打开</button> &nbsp;&nbsp;<button nz-button>关闭</button>
    <br>

    <br><label>模台驱动轮：</label><br>
    <br><label>工位1-列位2：</label><br>
    <br>
    <button nz-button>前进</button> &nbsp;&nbsp;<button nz-button>后退</button>&nbsp;&nbsp;<button nz-button>停止</button>
    <br>
    <br><label>工位2-列位3：</label><br>
    <br>
    <button nz-button>前进</button> &nbsp;&nbsp;<button nz-button>后退</button>&nbsp;&nbsp;<button nz-button>停止</button>
    <br>
    <br><label>布料机：</label><br>
    <br><label>料斗：</label>&nbsp;&nbsp;
    <button nz-button>上升</button> &nbsp;&nbsp;<button nz-button>下降</button>
    <br>
    <br><label>搅拌方向：</label>&nbsp;&nbsp;
    <button nz-button>搅拌正向</button>
    <br>

  </div>

</div>


<div style="float: left; margin-right: 80px">
  <div>
    <br>
    <strong>参数报表</strong><br>
    <br><label>模台个数：</label> &nbsp;&nbsp;
    <a routerLink="/scsj/mtgs">
      <button nz-button>点击显示</button>
    </a> <br>
    <br><label>模台利用率：</label> &nbsp;&nbsp;
    <a routerLink="/scsj/mtlyl">
      <button nz-button>点击显示</button>
    </a> <br>
    <br><label>混凝土方量：</label> &nbsp;&nbsp;
    <a routerLink="/scsj/hntfl">
      <button nz-button>点击显示</button>
    </a>
    <br>
    <br><label>叠合板数量：</label> &nbsp;&nbsp;
    <a routerLink="/scsj/dhbsl">
      <button nz-button>点击显示</button>
    </a>
    <br>
    <br><label>产品合格率：</label> &nbsp;&nbsp;
    <a routerLink="/scsj/cphgl">
      <button nz-button>点击显示</button>
    </a> <br>
    <br><label>叠合板面积：</label> &nbsp;&nbsp;
    <a routerLink="/scsj/dhbmj">
      <button nz-button>点击显示</button>
    </a> <br>

  </div>

  <div>
    <br><strong>动图</strong><br>
    <br><strong>工艺流程</strong><br>
    <br><strong>设备状态</strong><br>
  </div>
</div>
